# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
.gradle/
local.properties
.DS_Store
.idea/
*.iml
*.iws
*.ipr
out/
captures/
.externalNativeBuild
.cxx/
gradlew
gradlew.bat

# Git
.git/

# IDE
.vscode/
.vs/
*.swp
*.swo
*~

# Logs
*.log
